.containerGeral {
    width: 350px;
    height: 460px;
    background-color: #B3B3B3;
    border-radius: 2.5vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trashContainer{
    position: absolute;
    margin-left: 340px;
    margin-bottom: 447px;
    padding: 10px;
    background-color: #9c2732;
    border: solid 1px #121212;
    border-radius: 70px;
    cursor: pointer;
    transition: ease 0.3s;
}

.trashContainer:hover{
    background-color: #5e0f0f;
}

.trash{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 190px; 
    overflow: hidden;
    border-radius: 8px;
}

.imagem img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
    border-radius: 8px;
}

.titulo {
    margin-top: -10px;
    color: #343A40;
    font-weight: 700;
    font-size: 40px;
}

.descricao {
    margin-top: -23px;
    max-width: 70%;
    text-align: justify;
    font-size: 13px;
}

.level{
    font-size: 20px;
    font-weight: 700;
    color: #343A40;
    margin-top: 12px;
}

.levelBolinha {
    display: flex;
    gap: 5px;
    margin-top: -4px;
    color: #343A40;
}

.bolinha {
    transition: filter 0.3s; 
}

.bolinha:hover {
    filter: brightness(1.2);
}
