.containerGeral {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  flex-direction: column;
  min-height: 97vh;
}

.card{
  background-color: #181818;
  padding: 2vh;
  padding-top: 40px;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.451) 1px 3px 5px 0px, rgba(0, 0, 0, 0.451) 1px 3px 15px 1px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 500;
  margin-top: -70px;
  letter-spacing: -2px;
  margin-bottom: -14px;
}

.caixaEntrada {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper {
  position: relative;
  width: 90%;
}

.caixaEntrada input {
  width: 250px;
    height: 25px;
    margin-right: -30px;
    padding-right:30px;
}

.inputWrapper input {
  width: 92.9%;
  padding: 0.87rem 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  background-color: #272727;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
    height: 25px;
    margin-right: -30px;
    padding-right:40px;
}

.inputIconPessoa {
  position: absolute;
  right: -1.4rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  opacity: 40%;
}
.inputIconOlho {
  position: absolute;
  right: -1.4rem;
  top: 53%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease;
}

.inputIconOlho:hover{
  opacity: 100%;
}

.inputWrapper input::placeholder {
  color: #B3B3B3;
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox input {
  display: none;
}

.checkBox label {
  width: 14px; 
  height: 14px; 
  border: 2px solid white; 
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
}

.checkBox label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.checkBox input:checked + label::after {
  transform: translate(-50%, -50%) scale(1);
}

.checkBox span {
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}



.entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.451) 1px 3px 5px 0px, rgba(0, 0, 0, 0.451) 1px 3px 20px 1px;
}

.entrar button {
  color: white;
  background-color: #19536E;
  padding: 0.87rem 8.6rem;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: large;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -10px;
}

.entrar button:hover {
  background-color: #143849;
}

.cadastrarContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 0.85rem;
  color: white;
  margin-bottom: -10px;
}

.cadastrar p {
  color: #19536E;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cadastrar p:hover {
  color: #143849;
}

@media (max-width: 360px) {
  .card{
    padding: 0.6vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 344px) {
  .card{
    padding: 0vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}